body {
	background:#aa03ec;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.intro {
	margin: 30px 0px;
	font-weight: bold;
}

h1 {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 800;
	font-family: cursive;
	font-weight: bold;
}

p {
	font-weight: 600;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: italic;

}

#first {
	margin-top: 10px;
	color: #FFCD5D;
	font-size: 20px;
	
}

#second {
	color: #f0da1a;
	font-size: 20px;

}


#enter {
	border: none;
	padding: 5px 15px;
	border-radius: 6Spx;
	color: #f7d6d6;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: #2d046e;
	transition: all 0.75s ease;
	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	-o-transition: all 0.75 ease;
	font-weight: normal;
}

#enter:hover{
	background-color: #2d0152;
	color: #FFCD5D;
}

ul{
	text-align: left;
	margin-top: 20px;
	padding-right: 4%;
}


li {
	list-style: none;
	padding: 10px 20px;
	color: #000627;
	font-family: cursive;
	text-transform: capitalize;
	font-weight: 600;
	border: 2px solid #00646b;
	border-radius: 5px;
	margin-bottom: 10px;
	background: #73e4f8;
	transition: all 0.75s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5 ease;
}

li:hover {
	background: #b26adb;
}

li > button {
	font-weight: bold;
	background: none;
	border: none;
	float: right;
	color: #34defc;
	font-weight: 800;
}

input {
	border-radius: 7px;
	min-width: 65%;
	padding: 5px;
	border: none;
}


